<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zclcs.server.system.mapper.RouteLogMapper">

    <sql id="baseSql">
        select srl.route_id,
               srl.route_ip,
               srl.request_uri,
               srl.target_uri,
               srl.request_method,
               srl.target_server,
               srl.location,
               srl.create_at,
               srl.update_at
        from system_route_log srl
            ${ew.customSqlSegment}
    </sql>
    <sql id="baseCountSql">
        select count(*)
        from system_route_log srl
            ${ew.customSqlSegment}
    </sql>
    <select id="findPageVo" resultType="com.zclcs.common.core.entity.system.vo.RouteLogVo">
        <include refid="baseSql"/>
    </select>
    <select id="findListVo" resultType="com.zclcs.common.core.entity.system.vo.RouteLogVo">
        <include refid="baseSql"/>
    </select>
    <select id="findOneVo" resultType="com.zclcs.common.core.entity.system.vo.RouteLogVo">
        <include refid="baseSql"/>
    </select>
    <select id="countVo" resultType="java.lang.Integer">
        <include refid="baseCountSql"/>
    </select>
</mapper>
