<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zclcs.server.system.mapper.SystemRoleMapper">

    <sql id="baseSql">
        select sr.role_id,
               sr.role_name,
               sr.remark,
               group_concat(distinct srm.menu_id) as menuIdsString
        from system_role sr
                 left join system_role_menu srm on sr.role_id = srm.role_id
                 inner join system_menu sm on srm.menu_id = sm.menu_id
            ${ew.customSqlSegment}
    </sql>
    <select id="findPageVo" resultType="com.zclcs.common.core.entity.system.vo.SystemRoleVo">
        <include refid="baseSql"/>
    </select>
    <select id="findListVo" resultType="com.zclcs.common.core.entity.system.vo.SystemRoleVo">
        <include refid="baseSql"/>
    </select>
    <select id="findOneVo" resultType="com.zclcs.common.core.entity.system.vo.SystemRoleVo">
        <include refid="baseSql"/>
    </select>
    <select id="selectUsernamesByRoleId" resultType="java.lang.String">
        select distinct su.username
        from system_user_role sur
                 inner join system_user su on sur.user_id = su.user_id
        where role_id = #{roleId}
    </select>

</mapper>
