<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zclcs.server.system.mapper.SystemRoleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zclcs.common.core.entity.system.SystemRole">
        <id column="role_id" property="roleId"/>
        <result column="role_name" property="roleName"/>
        <result column="remark" property="remark"/>
        <result column="create_time" property="createTime"/>
        <result column="modify_time" property="modifyTime"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        role_id, role_name, remark, create_time, modify_time
    </sql>
    <sql id="baseSql">
        select sr.role_id, sr.role_name, sr.remark, sr.create_time, sr.modify_time
        from system_role sr
            ${ew.customSqlSegment}
    </sql>
    <sql id="baseSqlFromUserRole">
        select sr.role_id, sr.role_name, sr.remark, sr.create_time, sr.modify_time
        from system_role sr
                 left join system_user_role sur on sr.role_id = sur.role_id
                 left join system_user su on sur.user_id = su.user_id
            ${ew.customSqlSegment}
    </sql>
    <select id="findPageVo" resultType="com.zclcs.common.core.entity.system.vo.SystemRoleVo">
        <include refid="baseSql"/>
    </select>
    <select id="findListVo" resultType="com.zclcs.common.core.entity.system.vo.SystemRoleVo">
        <include refid="baseSql"/>
    </select>
    <select id="findOneVo" resultType="com.zclcs.common.core.entity.system.vo.SystemRoleVo">
        <include refid="baseSql"/>
    </select>
    <select id="findUserRolePageVo" resultType="com.zclcs.common.core.entity.system.vo.SystemRoleVo">
        <include refid="baseSqlFromUserRole"/>
    </select>
    <select id="findUserRoleListVo" resultType="com.zclcs.common.core.entity.system.vo.SystemRoleVo">
        <include refid="baseSqlFromUserRole"/>
    </select>
    <select id="findUserRoleOneVo" resultType="com.zclcs.common.core.entity.system.vo.SystemRoleVo">
        <include refid="baseSqlFromUserRole"/>
    </select>

</mapper>
