<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zclcs.server.system.mapper.SystemUserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zclcs.common.core.entity.system.SystemUser">
        <id column="user_id" property="userId"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="dept_id" property="deptId"/>
        <result column="email" property="email"/>
        <result column="mobile" property="mobile"/>
        <result column="status" property="status"/>
        <result column="create_time" property="createTime"/>
        <result column="modify_time" property="modifyTime"/>
        <result column="last_login_time" property="lastLoginTime"/>
        <result column="gender" property="gender"/>
        <result column="is_tab" property="isTab"/>
        <result column="theme" property="theme"/>
        <result column="avatar" property="avatar"/>
        <result column="description" property="description"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        user_id, username, password, dept_id, email, mobile, status, create_time, modify_time, last_login_time, gender, is_tab, theme, avatar, description
    </sql>
    <sql id="baseSql">
        select su.user_id,
               su.username,
               su.password,
               su.dept_id,
               su.email,
               su.mobile,
               su.status,
               su.create_time,
               su.modify_time,
               su.last_login_time,
               su.gender,
               su.is_tab,
               su.theme,
               su.avatar,
               su.description,
               group_concat(distinct sur.role_id)  roleIdString,
               group_concat(distinct sr.role_name) roleNameString,
               group_concat(distinct sudp.dept_id) deptIdString
        from system_user su
                 left join system_user_role sur on su.user_id = sur.user_id
                 inner join system_role sr on sur.role_id = sr.role_id
                 left join system_user_data_permission sudp on su.user_id = sudp.user_id
            ${ew.customSqlSegment}
    </sql>
    <select id="findPageVo" resultType="com.zclcs.common.core.entity.system.vo.SystemUserVo">
        <include refid="baseSql"/>
    </select>
    <select id="findListVo" resultType="com.zclcs.common.core.entity.system.vo.SystemUserVo">
        <include refid="baseSql"/>
    </select>
    <select id="findOneVo" resultType="com.zclcs.common.core.entity.system.vo.SystemUserVo">
        <include refid="baseSql"/>
    </select>

</mapper>
