<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zclcs.server.system.mapper.SystemRoleMenuMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zclcs.common.core.entity.system.SystemRoleMenu">
        <id column="role_id" property="roleId"/>
        <result column="menu_id" property="menuId"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        role_id, menu_id
    </sql>
    <sql id="baseSql">
        select srm.role_id,
               srm.menu_id,
               sr.role_name,
               sm.menu_name
        from system_role_menu srm
                 inner join system_role sr on srm.role_id = sr.role_id
                 inner join system_menu sm on srm.menu_id = sm.menu_id
            ${ew.customSqlSegment}
    </sql>
    <select id="findPageVo" resultType="com.zclcs.common.core.entity.system.vo.SystemRoleMenuVo">
        <include refid="baseSql"/>
    </select>
    <select id="findListVo" resultType="com.zclcs.common.core.entity.system.vo.SystemRoleMenuVo">
        <include refid="baseSql"/>
    </select>
    <select id="findOneVo" resultType="com.zclcs.common.core.entity.system.vo.SystemRoleMenuVo">
        <include refid="baseSql"/>
    </select>

</mapper>
