<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zclcs.auth.mapper.SystemUserConnectionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zclcs.common.core.entity.system.SystemUserConnection">
        <id column="user_name" property="userName"/>
        <result column="provider_name" property="providerName"/>
        <result column="provider_user_id" property="providerUserId"/>
        <result column="provider_user_name" property="providerUserName"/>
        <result column="nick_name" property="nickName"/>
        <result column="image_url" property="imageUrl"/>
        <result column="location" property="location"/>
        <result column="remark" property="remark"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        user_name, provider_name, provider_user_id, provider_user_name, nick_name, image_url, location, remark
    </sql>
    <sql id="baseSql">
        select suc.user_name,
               suc.provider_name,
               suc.provider_user_id,
               suc.provider_user_name,
               suc.nick_name,
               suc.image_url,
               suc.location,
               suc.remark
        from system_user_connection suc
            ${ew.customSqlSegment}
    </sql>
    <select id="findPageVo" resultType="com.zclcs.common.core.entity.system.vo.SystemUserConnectionVo">
        <include refid="baseSql"/>
    </select>
    <select id="findListVo" resultType="com.zclcs.common.core.entity.system.vo.SystemUserConnectionVo">
        <include refid="baseSql"/>
    </select>
    <select id="findOneVo" resultType="com.zclcs.common.core.entity.system.vo.SystemUserConnectionVo">
        <include refid="baseSql"/>
    </select>
</mapper>
