<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zclcs.auth.mapper.SystemUserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zclcs.common.core.entity.system.SystemUser">
        <id column="user_id" property="userId"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="dept_id" property="deptId"/>
        <result column="email" property="email"/>
        <result column="mobile" property="mobile"/>
        <result column="status" property="status"/>
        <result column="create_time" property="createTime"/>
        <result column="modify_time" property="modifyTime"/>
        <result column="last_login_time" property="lastLoginTime"/>
        <result column="gender" property="gender"/>
        <result column="is_tab" property="isTab"/>
        <result column="theme" property="theme"/>
        <result column="avatar" property="avatar"/>
        <result column="description" property="description"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        user_id, username, password, dept_id, email, mobile, status, create_time, modify_time, lassystem_login_time, ssex, is_tab, theme, avatar, description
    </sql>
    <select id="findByName" resultType="com.zclcs.common.core.entity.system.vo.SystemUserVo">
        SELECT u.user_id,
               u.username,
               u.email,
               u.mobile,
               u.password,
               u.status,
               u.create_time,
               u.gender,
               u.dept_id,
               u.last_login_time,
               u.modify_time,
               u.description,
               u.avatar,
               d.dept_name
        FROM system_user u
                 LEFT JOIN system_dept d ON (u.dept_id = d.dept_id)
        WHERE u.username = #{username}
    </select>
    <select id="findUserDataPermissions" resultType="com.zclcs.common.core.entity.system.vo.SystemUserDataPermissionVo">
        select user_id, dept_id
        from system_user_data_permission
        where user_id = #{userId}
    </select>

</mapper>
